@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --paper-base: #fbf9f2; 
  --ink-dark: #3a3228;
  --ink-accent: #6b5e52;
  --text-color: #594a3e;
}

body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--paper-base);
}
